@import '~antd/dist/antd.css';



.App-logo {
  height: 40vmin;
  pointer-events: none;
}






 html,body {
  width: 100%;
  min-height: 100%;
  display: flex;
  padding: 10px;
  
}

#root {
 
  margin: 10px ;
 
}
